.footer {
    background-repeat: repeat-x;
    background-image: url("../../images/footer_pic2.jpg");
    height: 60px;
    line-height: 60px;
    position:fixed;
    left:0;
    bottom:0;
    right:0;

 
    
}

.container1 {
    padding-bottom:60px;

}